---
layout: base
title: Events
locale: en
---
<h1 class="page-title">Events</h1>

<div>
    {% for event in site.data.list_events %}
        <h3>{{ event.title.en }}</h3>
        <dl>
            <dt class="inline">Date:</dt>
            <dd class="inline">{{ event.shortinfo.date }}</dd>
            <dt class="inline">Time:</dt>
            <dd class="inline">{{ event.shortinfo.time }}</dd>
            <dt class="inline">Place:</dt>
            <dd>{{ event.shortinfo.address }}</dd>
        </dl>
        
        <p>
            Speakers
            <ol>
                {% for speaker in event.speakers %}
                    <li>
                        <span>{{ speaker.name.en }}</span>
                        <p><i>topic:</i> {{ speaker.topic.en }}</p>
                        <p><i>abstracts:</i> <p>{{ speaker.abstract.en }}</p></p>
                    </li>
                {% endfor %}
            </ol>
            <p>{{ event.footer.en }}</p>
        </p>
    {% endfor %}
</div>