---
layout: base
title: Мероприятия
locale: ru
---
<h1 class="page-title">Мероприятия</h1>

<div>
    {% for event in site.data.list_events %}
        <h3>{{ event.title.ru }}</h3>
        <dl>
            <dt class="inline">Дата:</dt>
            <dd class="inline">{{ event.shortinfo.date }}</dd>
            <dt class="inline">Время:</dt>
            <dd class="inline">{{ event.shortinfo.time }}</dd>
            <dt class="inline">Место:</dt>
            <dd>{{ event.shortinfo.address }}</dd>
        </dl>
        
        <p>
            Выступающие
            <ol>
                {% for speaker in event.speakers %}
                    <li>
                        <span>{{ speaker.name.ru }}</span>
                        <p><i>тема:</i> {{ speaker.topic.ru }}</p>
                        <p><i>тезисы:</i> <p>{{ speaker.abstract.ru }}</p></p>
                    </li>
                {% endfor %}
            </ol>
            <p>{{ event.footer.ru }}</p>
        </p>
    {% endfor %}
</div>